# Flutter / Dart
.dart_tool/
.packages
.pub/
build/

# Generated
**/generated_plugin_registrant.*

# IDE
.idea/
.vscode/

# Platform artifacts
android/.gradle/
ios/Pods/
macos/Pods/

# Misc
.DS_Store
